In [40]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
# Đọc dữ liệu từ file CSV

In [41]:
data = pd.read_csv('Data/DGB-USD.csv')

In [42]:
# Hiển thị thông tin cơ bản về dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2285 entries, 0 to 2284
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2285 non-null   object
 1   Open       2285 non-null   float64
 2   High       2285 non-null   float64
 3   Low        2285 non-null   float64
 4   Close      2285 non-null   float64
 5   Adj Close  2285 non-null   float64
 6   Volume     2285 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 125.1+ KB
None

In [43]:
# Hiển thị 5 hàng đầu tiên
print(data.head())

         Date      Open      High       Low     Close  Adj Close   Volume
0  2018-03-01  0.032343  0.037473  0.032049  0.036329   0.036329  7433250
1  2018-03-02  0.036287  0.038559  0.035121  0.036205   0.036205  4526580
2  2018-03-03  0.036013  0.036799  0.033510  0.035137   0.035137  3778450
3  2018-03-04  0.035049  0.036215  0.033407  0.035613   0.035613  2802420
4  2018-03-05  0.035580  0.036499  0.034258  0.034300   0.034300  3065310

In [44]:
# Kiểm tra giá trị thiếu
print(data.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [45]:
# Chuyển đổi cột Date sang định dạng datetime
data['Date'] = pd.to_datetime(data['Date'])

In [46]:
# Sắp xếp DataFrame theo cột Date
data = data.sort_values(by='Date')

# Chuyển đổi cột Date sang số thứ tự
data['Date_Ordinal'] = data['Date'].map(pd.Timestamp.toordinal)

In [47]:
# Chọn một mốc thời gian (ở đây là ngày đầu tiên trong cột Date)
start_date = data['Date'].min()

# Tính số ngày kể từ mốc thời gian
data['Days_Since_Start'] = (data['Date'] - start_date).dt.days

In [48]:
print(data)

           Date      Open      High       Low     Close  Adj Close    Volume  \
0    2018-03-01  0.032343  0.037473  0.032049  0.036329   0.036329   7433250
1    2018-03-02  0.036287  0.038559  0.035121  0.036205   0.036205   4526580
2    2018-03-03  0.036013  0.036799  0.033510  0.035137   0.035137   3778450
3    2018-03-04  0.035049  0.036215  0.033407  0.035613   0.035613   2802420
4    2018-03-05  0.035580  0.036499  0.034258  0.034300   0.034300   3065310
...         ...       ...       ...       ...       ...        ...       ...
2280 2024-05-28  0.011589  0.011625  0.011153  0.011422   0.011422   7384647
2281 2024-05-29  0.011422  0.012579  0.011355  0.011477   0.011477  18509023
2282 2024-05-30  0.011477  0.011791  0.011251  0.011383   0.011383   8687056
2283 2024-05-31  0.011383  0.011645  0.011272  0.011321   0.011321   7790771
2284 2024-06-01  0.011321  0.011528  0.011255  0.011285   0.011285   6758618

      Date_Ordinal  Days_Since_Start
0           736754                 0
1           736755                 1
2           736756                 2
3           736757                 3
4           736758                 4
...            ...               ...
2280        739034              2280
2281        739035              2281
2282        739036              2282
2283        739037              2283
2284        739038              2284

[2285 rows x 9 columns]

In [49]:
# Xóa các cột Date và Date_Ordinal
data = data.drop(columns=['Date', 'Date_Ordinal'])

In [50]:
print(data)

          Open      High       Low     Close  Adj Close    Volume  \
0     0.032343  0.037473  0.032049  0.036329   0.036329   7433250
1     0.036287  0.038559  0.035121  0.036205   0.036205   4526580
2     0.036013  0.036799  0.033510  0.035137   0.035137   3778450
3     0.035049  0.036215  0.033407  0.035613   0.035613   2802420
4     0.035580  0.036499  0.034258  0.034300   0.034300   3065310
...        ...       ...       ...       ...        ...       ...
2280  0.011589  0.011625  0.011153  0.011422   0.011422   7384647
2281  0.011422  0.012579  0.011355  0.011477   0.011477  18509023
2282  0.011477  0.011791  0.011251  0.011383   0.011383   8687056
2283  0.011383  0.011645  0.011272  0.011321   0.011321   7790771
2284  0.011321  0.011528  0.011255  0.011285   0.011285   6758618

      Days_Since_Start
0                    0
1                    1
2                    2
3                    3
4                    4
...                ...
2280              2280
2281              2281
2282              2282
2283              2283
2284              2284

[2285 rows x 7 columns]

In [51]:
data.to_csv('Data/pre_DGB-USD.csv', index=False)